body{
    background-color: rgb(236, 224, 208);
}
.box {
  display: block;
  margin: auto;
  width: 30%;
  height: 280px;
  position: relative;
  top: 210px;
  background-color: rgb(172, 245, 245);
  box-shadow: 0px 0px 20px black;
  border-radius: 20px;
}

p {
  text-align: center;
  display: inline;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;

}

.nums {
  position: relative;
  left: 100px;
  font-size: 60px;
  top: 20px;
}

button{
    position: relative;
    top: 80px;
    left: 50px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

i{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 5px;
    position: relative;
    left: 155px;
}